.Logo
  z-index 999
  &.Home
    font-size 48px
    font-weight lighter
    position absolute
    top 0%
    left 0%
    transform translate(0%, 0%)
    transition transform .5s, top .5s, left .5s
    .is-home &
      left 50%
      top 50%
      transform translate(-50%, -50%)