@import 'mixins'

@import 'base/normalize'
@import 'base/base'
@import 'grid/base'

@import 'animations'
@import 'elements/Wrapper'
@import 'elements/Sections'

@import 'components/forms'
@import 'components/buttons'

@import 'directives/mwl-button'

@import 'helpers'

// html, body
//   height: 100%
//

.content
  display: block
  // text-align: center

.title
  font-size: 96px
  centered: both
  text-align: center
