<div class="Section Login mwl-untouched">
  <div layout layout-fill layout-align="center center">
    <form name="LoginForm" action="" md-whiteframe="3" class="Login Form" ng-class="{'animated shake': login.errors}">
      <div>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Email or Username</label>
          <input ng-model="login.username">
          <div ng-messages="login.errors" ng-show="login.errors">
            <div ng-message="message">{{ login.errors.message }}</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" md-no-float flex-gt-sm>
          <label>Password</label>
          <input type="password" ng-model="login.password">
        </md-input-container>
        <mwl-button ng-click="login.submit" loading="login.loadingButton">Entrar</mwl-button>
      </div>
    </form>
  </div>
</div>
